
<div class = "container">
	<table class="table">
    <thead>
      <tr>
        <th><h3>Thêm người dùng</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= render 'form' %></td>
      </tr>
    </tbody>
  </table>
	
</div>