// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts {
	.item_price, .total_line {
	text-align: right;
	}
	.total_line .total_cell {
	font-weight: bold;
	border-top: 1px solid #595;
	}
}

.carts, #side #cart {
.item_price, .total_line {
text-align: right;
}
.total_line .total_cell {
font-weight: bold;
border-top: 1px solid #595;
}
}

.table-product {
	margin-top: 20px;
	padding-bottom: 20px;
	padding-left:  50px;
	padding-right:  50px;
}
.col-sm-12{
	text-align: center;
}
.panelcart{
	background-color: #bce8f1;
	font-size: 20px;
	color: #31708f; 
}
.total-price-table{
	text-align: right;
}