// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-row{
	padding-left: 50px;
	padding-right: 50px;
	display: block;
}

.new-user{
	margin-top: 20px;
}
