<div class = "row product-edit">
	<table class="table">
    <thead>
      <tr>
        <th><h3>Cập nhật thông tin sản phẩm</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= render 'form' %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to 'Show', @product %> |
	<%= link_to 'Back', products_path %>
</div>